<div id="draw-area">
    <h1>2020計畫</h1>
    <h2>dasads</h2>
    <div class="timeline"></div>
    <div class="roadmap-area">
        <div>
            <a href="#"></a>
            1</div>

        <div> <a href="#"></a>2</div>
        <div> <a href="#"></a>3</div>
        <div> <a href="#"></a>3</div>
        <div> <a href="#"></a>3</div>
        <div> <a href="#"></a>3</div>
        <div> <a href="#"></a>3</div>
        <div> <a href="#"></a>3</div>
        <!-- aaaaaaa<br>
    bbbbbbb
    <input matInput placeholder="Favorite food" value="Sushi"> -->
    </div>
</div>
<button mat-raised-button color="primary" (click)="downloadImage()">download</button>