/* You can add global styles to this file, and also import other style files */

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
// html, body { height: 100%; }
// body { margin: 0; font-family: 'Noto Sans TC', sans-serif; }
*{
    font-family: 'Noto Sans TC';
    box-sizing: border-box;
}
body{
    margin: 0;
}
// * {
//   font-family: 'Noto Sans TC';
//   box-sizing: border-box;
// }

.mat-input-element{
    border: 0;
    text-align: center;
    background-color: rgba(0,0,0,0);
}